Easy.Fitness/.vs/
Easy.Fitness/.idea/

Easy.Fitness/Easy.Fitness.Application/bin/
Easy.Fitness/Easy.Fitness.Application/obj/

Easy.Fitness/Easy.Fitness.Infrastructure/bin/
Easy.Fitness/Easy.Fitness.Infrastructure/obj/

Easy.Fitness/Easy.Fitness.DomainModels/bin/
Easy.Fitness/Easy.Fitness.DomainModels/obj/

Easy.Fitness/Easy.Fitness.Web/bin/
Easy.Fitness/Easy.Fitness.Web/obj/
