.accountPanel {
  background: white;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  height: 80vh;
  font-family: 'Lexend';
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2ch;
}

.profilePicturePanel {
  display: flex;
  flex-direction: column;
}

.profilePictureContainer {
  margin-top: 1ch;
  border: 3px solid #f5f5f5;
  width: 90%;
  border-radius: 15px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1ch;
}

#profilePicture {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 0.3s ease;
}

#profilePicture:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#profilePictureText {
  margin-top: 1ch;
  font-size: 20px;
}

.profileInfoPanel {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.profileParametersContainer {
  margin-top: 1ch;
  border: 3px solid #f5f5f5;
  width: 90%;
  border-radius: 15px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1ch;
}

.profileSummaryContainer {
  margin-top: 1ch;
  border: 3px solid #f5f5f5;
  width: 90%;
  border-radius: 15px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1ch;
}

#profileParametersText {
  align-self: flex-start;
}

.profileInput {
  margin: 0.3ch 0;
  width: 80%;
  font-family: 'Lexend';
}

#saveButton {
  margin-top: 1ch;
  text-transform: none !important;
  font-family: 'Lexend';
  color: white;
  border-radius: 30px;
  align-self: flex-end;
  background: #41D4F5;
  transition: color 0.3s ease, background 0.3s ease;
}

#saveButton:hover {
  background: #82F6AD;
  color: black;
}

.summaryPart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 1ch;
  align-items: center;
}

.summaryPartTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}