#logo {
  width: 100%;
}

.list {
  width: 90%;
  align-self: center;
}

#listItemButton {
  border-radius: 15px;
  margin-bottom: 1ch;
  transition: background 0.5s ease
}

#listItemButtonSelected {
  background: #41D4F5;
  border-radius: 15px;
  margin-bottom: 1ch;
  transition: background 0.5s ease
}

#listItemButtonSelected:hover, #listItemButton:hover {
  background: #82F6AD;
}