@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');
.headerMain{
    margin-top: 1ch;
    width: 100%;
}
.controlPanel{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.leftControl{
    width: 50%;
    display:flex;
    align-items: center;
}
#headerLogo{
    margin-left: 2ch;
    margin-bottom: 1ch;
    width: 13%;
}
.headerText{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #434242;
    margin-left: 1ch;
}
.rightControl{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;
}