.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.98);;
}
.mainPanel{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 2fr;
}
.settingsPanel{
    margin-top: 2ch;
    display:flex;
    flex-direction:column;
    width:100%;
}
.changePanel{
    display:flex;
    width:100%;
    justify-content: space-around;
}
.changePasswordPanel{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.changeEmailPanel{
    display:flex;
    flex-direction: column;
}
.changePasswordHeader{
    display:flex;
    align-items: center;
}
.settingsText{
    color: #000;
    font-size: 28px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.passwordForm{
    margin-top: 2ch;
    width:80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
#passwordInput{
    font-size: 16px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#passwordInput:focus{
    color: black;
}
.emailForm{
    margin-top: 2ch;
    width:90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
#emailInput{
    margin-bottom: 2ch;
    border-radius: 30px;
    border: 1px solid #000;
    background: #FFFEFE;
    padding: 1em;
    color: #A3A3A3;
    font-size: 16px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:100%;
}
#emailInput:focus{
    color: black;
}
#saveBtn{
    background: #41D4F5;
    border-radius: 30px;
    border: none;
    width: 80%;
    align-self: center;
    color: #FFF;
    font-family: 'Lexend';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1ch;
    cursor: pointer;
    transition: color 0.5s ease, background 0.5s ease;
}
#saveBtn:hover{
    background: none;
    color: black;
    border: 1px solid #41D4F5;
}
#deleteBtn{
    margin-top: 3ch;
    width: 20%;
    align-self: center;
    border: none;
    border-radius: 30px;
    background: #F54141;
    color: #FFF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1ch;
    cursor: pointer;
    transition: color 0.5s ease, background 0.5s ease;
}
#deleteBtn:hover{
    background: none;
    color:black;
    border: 1px solid #F54141;
}
