.plannedWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5ch;
  width: 100%;
  font-family: 'Lexend';
  align-items: center;
}

.plannedText {
  text-align: center;
}

.plannedActions {
  display: flex;
  justify-content: center;
}